#content {
	gap: 2rem;
}

#content h2 {
	margin: 1rem;
}

.profile {
	display: flex;
	gap: 1rem;
	flex-direction: row;
	text-align: justify;
	justify-content: left;
	align-items: center;
	width: 100%;
}

.profile h4 {
	text-align: left;
}

.profile img {
	max-width: 28ch;
	max-height: 28ch;
	border-radius: 4px;
	border: 1px solid var(--darker-green);
}

.profile:nth-child(2n+1) {
	flex-direction: row-reverse;
	/* text-align: right; */
}

.profile:nth-child(2n+1) h4 {
	text-align: right;
}
